
.status-root{
  display: flex;
  justify-content: center;
  width: 100%;
}

.status-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 81vh;
  /* border:2px solid magenta; */
  background-color: white;
  margin-top: 2rem;
  transition: 0.4s ease ease-in; 
}

.status-container--status{
  transition: 0.4s ease ease-in; 
   font-weight: 400;
   align-self: center;
}
.status-container--status h3{
   padding-left:1.5rem;
}

.status-container--application-no {
    height: 4rem;
    background-color: #f2f7fd;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .status-container--application-no p {
    font-size: 12px;
    padding-left: 2rem;
  }
.logo{
    
    height: 5rem;
    margin-left: 0.5rem; 
    margin-top:1.4rem;
    transform: translateY(-50%);
    
}



@media (max-width: 650px) {
  .status-container{
    height:50%;
    width:100vw;
    margin: 0;
    transition: 0.4s ease ease-in; 
  }
  .status-container--application-no
  { height: 5rem;
    width: 100vw;
  }
  .status-container--application-no p {
    font-size: 14px;
    padding-left: 1.4rem;
  }
  .status-heading{
  font-size: 14px;
  padding-left: 8px;
  }
  .logo{
    display: none;
  }
  .application-no{
    font-size: 11px !important;
    color:grey;
  }
}
