.progress-bar-container {
  display: flex;
  gap: 0;
  justify-content: center;
  margin-top: 2rem;
  width: 82%;
  align-content: center;
  align-self: center;
}

.svg-tick-container {
  height: 25px;
  width: 25px;
}

@media (max-width: 650px) {
  .progress-bar-container {
    flex-direction: column;
    height: 30rem;
    width: 8%;
    margin-left: 1rem;
    margin-top: 0px;
  }
  .svg-tick-container {
    height: 20px;
    width: 20px;
    margin-left: 2px;
  }
}
