.header-style{
    display: flex;
    align-items: center;
    width:100vw;
    height:4rem;
    background-color:#FFFFFF;
    
}

.header-logo{
    flex-shrink: 0;
    width: 7rem;
    padding-left: 5rem;
}