.header-style{
    display: flex;
    align-items: center;
    width:100vw;
    height:4rem;
    background-color:#FFFFFF;
    
}

.header-logo{
    flex-shrink: 0;
    width: 7rem;
    padding-left: 10vw;
}



@media (max-width: 650px) {
    .header-logo{
        width: 5rem;
        padding-left: 5vw;
        margin-bottom: 5vw;
    }
   
  }